<!DOCTYPE html>
<html lang="en">
<head>
    {% load static from staticfiles %}
    <script src="{%static "ioestu/tabcontent.js"%}" type="text/javascript"></script>
    <link rel="stylesheet" href="{% static "ioestu/style.css" %}">
    <link href="{% static "ioestu/template2/tabcontent.css"%}" rel="stylesheet" type="text/css" />
    <title>{% block title %}ioe student transaction system{% endblock %}</title>
</head>

<body>
    <div id="title"><h3 >IOE Student Transaction System</h3></div>
    <hr/>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>