{% extends "ioestu/base.html" %}
{% block content %} 	

	<h3><pre>  Welcome to IOE Student Transaction System</pre></h3>

	<ul class="tabs" persist="true">
            <li><a href="#" rel="login"></a></li>
    </ul>

    <div class="tabcontents">
        <div id="login" class="tabcontent">
			<form method="post">

				{% csrf_token%}	
				<div class="error">{{ state }}</div><br>
				<table >
					<tr>
						<td>User Id	</td>
						<td><input type="text" name="username" value=""></td>
					</tr>
					<tr>
						<td>Password</td>
						<td><input type="password" name="password" value=""></td>
					</tr>
				</table>
					<a href="/forgotPassword/">Can't access your account</a><br/></br>
					<input type="submit" value="Log In">
				
			</form>
		</div>
	</div>

{% endblock %}
