{% extends "ioestu/base.html" %}

{% block content %} 	

	<a href="/logout/">logout</a> <b>{{ log }}</b><br><br>

	<div class ="error"> {% if error%} {{error}} {%endif%}<br> </div>
	{{state}}<br><br>

	<ul class="tabs" persist="true">
            <li><a href="#" rel="Payment">Payment</a></li>
            <li><a href="#" rel="Deposit">Deposit Balance</a></li>
            <li><a href="#" rel="createaccount">Create Account</a></li>
            <li><a href="#" rel="closeaccount">Close Account</a></li>
            <li><a href="#" rel="endofday">End of Day</a></li>
    </ul>

    <div class="tabcontents">
		<!-- Payment View -->
        <div id="Payment" class="tabcontent">
    		<table>
        		<tr>
            		<td width=400>
						<form action="/logged/" method="post">
							{% csrf_token%}
							<table>
								<tr>
									<td>student id</td>
									<td><input type="text" name="student_id" value="{{student_id}}"></td>
								</tr>
								<tr>
									<td>password</td>
									<td><input type="password" name="password" value=""></td>
								</tr>
								<tr>
									<td>details</td>
									<td><input type="input" name="details" value="{{details}}" ></td>
								</tr>
								<tr>
									<td>amount</td>
									<td><input type="input" name="amount" value="{{amount}}"></td>
								</tr>							
							</table>
							<input type="hidden" name="activity_type" value="payment">
							<input type="submit" value="pay">
						</form>
					</td>
					<td>
						{% if balance_before != 'null' %}
							<fieldset>
								<legend><h3>Recent Transaction</h3></legend>
								<table>
									<tr>
										<td>details:</td>
										<td>{{Activity_latest.details}}</td>
									</tr>
									<tr>
										<td>amount:</td>
										<td>{{Activity_latest.amount}}</td>
									</tr>
									<tr>
										<td>operator:</td>
										<td>{{Activity_latest.operator.name}}</td>
									</tr>										
									<tr>
										<td>student id:</td>
										<td>{{Activity_latest.student.student_id}}</td>
									</tr>																			
									<tr>
										<td>balance-before:</td>
										<td>{{balance_before}}</td>
									</tr>										
									<tr>
										<td>balance-after:	</td>
										<td>{{Activity_latest.student.balance}}</td>	
									</tr>	
								</table>
							</fieldset>
						{% endif %}
					</td>
				</tr>
			</table>            
        </div>
        <!-- Deposit Form View -->
        <div id="Deposit" class="tabcontent">
            <form action="/logged/#Deposit" method="post">
				{% csrf_token%}
				<table>
					<tr>
						<td>student id</td>
						<td><input type="text" name="student_id" value="{{student_id}}"></td>
					</tr>
					<tr>
						<td>student password</td>
						<td><input type="password" name="password" value=""></td>
					</tr>
					<tr>
						<td>operator password</td>
						<td><input type="password" name="operatorpassword" value=""></td>
					</tr>
					<tr>
						<td>amount</td>
						<td><input type="input" name="amount" value="{{amount}}"></td>
					</tr>
				</table>
				<input type="hidden" name="activity_type" value="deposit">
				<input type="submit" value="deposit">
			</form>
        </div>
        
        <!-- Create Account View -->
        <div id="createaccount" class="tabcontent">            
            <form action="/logged/#createaccount" method="post">
				{% csrf_token%}
				<table>
					<tr>
						<td>student id</td>
						<td><input type="text" name="student_id" value="{{student_id}}"></td>
					</tr>
					<tr>
						<td>first name</td>
						<td><input type="text" name="fname" value="{{fname}}"></td>
					</tr>
					<tr>
						<td>last name</td>
						<td><input type="text" name="lname" value="{{lname}}"></td>
					</tr>
					<tr>
						<td>email address</td>
						<td><input type="text" name="email" value="{{email}}"></td>
					</tr>
				</table>
				<input type="hidden" name="activity_type" value="create_account">
				<input type="submit" value="create account">
			</form>
        </div>
        
        <!-- Delete Account View -->
        <div id="closeaccount" class="tabcontent">
            <form action="/logged/" method="post">
				{% csrf_token%}
				<table>
					<tr>
						<td>student id</td>
						<td><input type="text" name="student_id" value="{{student_id}}"></td>
					</tr>
					<tr>
						<td>password</td>
						<td><input type="password" name="password" value=""></td>
					</tr>
				</table>
				<input type="hidden" name="activity_type" value="delete_account">
				<input type="submit" value="close account">
			</form>             
        </div>

        <div id="endofday" class="tabcontent">
        	<a href="/endofday/" >Run end of day operations</a>
        </div>
    </div>

{% endblock %}
