{% extends "ioestu/base.html" %}
{% block content %} 	
	{{ state }}<br>
	<div class ="error"> {% if error%} {{error}} {%endif%}<br> </div>
	<a href="/">logout</a>
	<ul class="tabs" persist="true">
            <li><a href="#" rel="Info">Info</a></li>
            <li><a href="#" rel="transactions">Transactions</a></li>
            <li><a href="#" rel="changepassword">Change Password</a></li>
    </ul>

    <div class="tabcontents">
            <div id="Info" class="tabcontent">

					student_id: {{student.student_id}}<br>
					firstname: {{student.firstname}}<br>
					lastname: {{student.lastname}}<br>
					balance: {{student.balance}}<br>
					emailid: {{student.emailid}}<br>

                
            </div>
            <div id="transactions" class="tabcontent">
            	<table>
	             	<th>acivity_type</th>
					<th>operator</th>
					<th>details</th>
					<th>amount</th>
					<th>datetime</th>   
				{% for activity in activities%}
					<tr>
					<td>{{activity.atype}}</td>
					<td>{{activity.operator}}</td>
					<td>{{activity.details}}</td>
					<td>{{activity.amount}}</td>
					<td>{{activity.date}}</td>
					</tr>
					{% endfor %}
				</table>
            </div>
            <div id="changepassword" class="tabcontent">
	                <form action="/logged/#changepassword" method="post">
							{% csrf_token%}
							<em>Password</em> <br>
							old password <input type="password" name="oldpassword" value=""><br>
							new password <input type="password" name="newpassword" value=""><br>
							reconfirm old password <input type="password" name="reconfirmpassword" value=""><br>
							<br>
							<br>
							<em>Email</em>
							new email <input type="input" name="newemail" value="{{newemail}}"><br>
							<input type="hidden" name="activity_type" value="changedetails">
							<input type="submit" value="submit">
					</form>
            </div>            
    </div>

{% endblock %}
