{% extends "ioestu/base.html" %}

{% block content %} 	

	<ul class="tabs" persist="true">
            <li><a href="#" rel="resetpassword"></a></li>
    </ul>

    <div class="tabcontents">
        <div id="resetpassword" class="tabcontent">
			{% if passwordChanged %}
				Your password has been changed sucessfully.
				<a href='/'> Back to login page</a>
			{% else %}
				hello {{username}}, please enter your new password below<br><br>
				{{invalidPassword|safe}}<br>
				<form action='' method='POST' >
					{% csrf_token %}
					new password <input type='password' name ='password'/>
					confirm password <input type='password' name='confirm'/>
					<input type ='submit' value = 'Change Password' />
				</form>
			{% endif %}
		</div>
	</div>

{% endblock %}