body {
    font-family:Arial,Helvetica,sans-serif;
    font-size: 14px;
	margin: 0 auto;
}


th
{
	width:100px;
	text-align:left;
}

#content {
	width: 800px;
	margin: 0 auto;
	padding: 12px 0 40px;
	font: 0.85em arial;

}

.header {
	height: 80px;
	text-align: center;
	background-color: #2ace40;
}

.footer {
	background-color: #2ace40;
}

#title {
	text-align: center;
	color: white;
}

div.left {
	margin-top:50px;
	float:left;
	display: block;
}

#right {
	padding:50px;
	float:right;
}

.error {
	color: red;
}

td
{
height:30px;
vertical-align:top;
}